# macos cruft
.DS_Store

# Virtual environment
pysuienv
env
.env

# Compiled code
__pycache__
Move.lock

# logs
*.log*

# Sandboxing
temp*.py
temp*.json
temp_sub.py
out*
backup/


# pytest cruft
.pytest_cache

# vscode cruft
.vscode/launch.json

# Local copy of SUI RPC API from `rpc.discover` or some inferencing review
apidefn*.json
optionals_*.json

# Local copy of SUI 0x2 modules and functions
siggen.list

# Publish runs cruft
build
doc/build
pysui.egg-info
dist
setup.py

# Documentation runs cruft
doc/source/pysui.sui*
doc/source/modules.rst
doc/source/pysui.abstracts.rst
doc/source/pysui.rst
doc/source/pysui.sui.rst

# Misc cruft
*.txt