# macos cruft
.DS_Store

# Virtual environment
pysuienv

# Compiled code
__pycache__

# sui logs
sui.log*

# Sandboxing
temp.py

# pytest cruft
.pytest_cache

# vscode cruft
.vscode/launch.json

# Local copy of SUI RPC API from `rpc.discover`
apidefn.json

# Local copy of SUI 0x2 modules and functions
siggen.list

# Publish runs cruft
build
pysui.egg-info
dist
setup.py

# Documentation runs cruft
# modules.rst
# pysui.abstracts.rst
# pysui.rst
# pysui.sui.rst