betterproto2-compiler < 1.0.0, >= 0.7.0
pylint==3.3.2
doc8==1.1.2
pydocstyle==6.3.0
pytest==8.3.4
pytest-asyncio==0.25.3
mypy==1.15.0
types-Deprecated==1.2.15.20241117
build==1.2.1
rstcheck[sphinx]==6.2.5
twine==6.1.0
sphinx==8.1.3
setuptools>=80.9.0
setuptools-scm>=8.3.1
sphinx_rtd_theme==3.0.2